.App-logo {
  height: 50px;
  width: 50px;
  pointer-events: none;
  margin-right: 20px;
}

.App-header {
  display: flex;
  color: white;
}

.header-title {
  color: black;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
