body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* NavBar */

.nav-wrapper {
  border-bottom: solid 1px #b9b9b9;
  padding: 0.5rem 0 2rem 0;
  width: 90%;
}

.navBar-list {
  display: flex;
}

.nav-list {
  list-style: none;
}

.nav-list:last-child {
  border-left: solid 2px black;
  padding-left: 20px;
}

.nav-list .nav-page {
  text-decoration: none;
  font-weight: 500;
  padding-bottom: 0;
  margin-right: 20px;
}
